---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/layout.astro";
import FormattedDate from "@/components/formatted-date.astro";
import ContentNavigator from "@/components/content-navigator.astro";

export async function getStaticPaths() {
  // Ascending order (oldest to newest), for the content navigation component
  const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

  return posts.map((post, index) => ({
    params: { post: post.id },
    props: { post, index, posts },
  }));
}

const { post, index, posts } = Astro.props;
const { title, summary, pubDate, updatedDate } = post.data;

const { Content } = await render(post);
---

<Layout title={title + " | Edward Vonschondorf"} description={summary}>
  <article
    class="relative z-10 container mx-auto my-auto max-w-3xl rounded-xl border border-stone-700 backdrop-blur-xs">
    <!-- BLOG HEADER -->
    <div class="space-y-1 bg-stone-900/40 px-6 py-3">
      <h1 class="text-xl font-bold text-stone-100">{title}</h1>
      <div class="flex flex-col font-mono text-stone-500 sm:flex-row sm:justify-between">
        <span>
          Published: <FormattedDate date={pubDate} />
        </span>
        <span>
          Updated: {updatedDate ? <FormattedDate date={updatedDate} /> : "--"}
        </span>
      </div>
      <p class="text-stone-300">{summary}</p>
    </div>
    <!-- BLOG CONTENT -->
    <div class="prose border-t border-stone-700 p-6">
      <Content />
    </div>
    <ContentNavigator items={posts} currentIndex={index} basePath="blog" contentType="Posts" />
  </article>
</Layout>
