---
import { pageLinks, socialLinks } from "@/global-consts";
import OpenIcon from "@/assets/open.svg";
import CloseIcon from "@/assets/close.svg";

const { currentPage } = Astro.props;

const isActive = (href: string) => {
  return (href === "/" && currentPage === "/") || (href !== "/" && currentPage.startsWith(href));
};
---

<nav
  class="fixed bottom-0 z-20 w-full bg-stone-800/75 backdrop-blur-lg lg:top-0 lg:flex lg:h-screen lg:w-12 lg:flex-col lg:border-r lg:border-stone-700 lg:pb-6">
  <div
    id="menu"
    class="mb-6 hidden space-y-6 font-medium lg:mb-0 lg:flex lg:grow lg:flex-col lg:justify-between lg:space-y-0">
    <div>
      {
        pageLinks.map(({ name, href, Icon }) => (
          <a
            href={href}
            title={name}
            class={`group flex items-center justify-center gap-3 py-6 hover:bg-stone-700/75 lg:h-12 lg:py-0 ${
              isActive(href) ? "bg-stone-700/75 text-stone-300" : "text-stone-400"
            }`}>
            <span class="w-1/2">
              <Icon
                class="ml-auto size-6 transition-all duration-300 ease-in-out group-hover:scale-120 group-hover:text-stone-300 lg:mx-auto"
                aria-label={name}
              />
            </span>
            <span class="block w-1/2 text-lg group-hover:text-stone-300 lg:hidden">{name}</span>
          </a>
        ))
      }
    </div>
    <div class="flex justify-between lg:block">
      {
        socialLinks.map(({ name, url, Icon }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer external"
            title={name}
            class="group flex grow items-center justify-center py-6 text-stone-400 hover:bg-stone-700 lg:h-12 lg:grow-0 lg:py-0">
            <Icon
              class="size-6 text-stone-400 transition-all duration-300 ease-in-out group-hover:scale-120 group-hover:text-stone-300 lg:mx-auto"
              aria-label={name}
            />
          </a>
        ))
      }
    </div>
  </div>
  <button
    id="menu-toggle"
    class="group z-20 block w-full cursor-pointer py-2 hover:bg-stone-700 lg:hidden"
    aria-label="Toggle Menu">
    <OpenIcon id={"menu-open"} class={"size-6 text-stone-500 mx-auto group-hover:text-stone-300"} />
    <CloseIcon id={"menu-close"} class={"hidden text-stone-500 size-6 mx-auto group-hover:text-stone-300"} />
  </button>
</nav>
<!-- Handles the drop down menu visibility below sm breakpoint -->
<script is:inline>
  /*
  This line is so the script doesn't stop working after a link in the menu (or any link) is clicked due to Astro's view transitions implementation. See: https://docs.astro.build/en/guides/view-transitions/#script-re-execution
  */
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const menuOpen = document.getElementById("menu-open");
    const menuClose = document.getElementById("menu-close");

    // Toggle menu visibility
    menuToggle.addEventListener("click", (event) => {
      event.stopPropagation();
      menu.classList.toggle("hidden");
      menu.classList.toggle("block");
      menuOpen.classList.toggle("hidden");
      menuOpen.classList.toggle("block");
      menuClose.classList.toggle("hidden");
      menuClose.classList.toggle("block");
    });

    // Close menu when clicking outside
    document.addEventListener("click", (event) => {
      if (!menu.contains(event.target) && !menuToggle.contains(event.target)) {
        menu.classList.add("hidden");
        menu.classList.remove("block");
        menuOpen.classList.remove("hidden");
        menuOpen.classList.add("block");
        menuClose.classList.add("hidden");
        menuClose.classList.remove("block");
      }
    });
  });
</script>
