---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@/layouts/layout.astro";
import Card from "@/components/card.astro";
import ActionButton from "@/components/action-button.astro";
import ContentNavigator from "@/components/content-navigator.astro";

export async function getStaticPaths() {
  // Ascending order (oldest to newest), for the content navigation component
  const projects = (await getCollection("projects")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  );

  return projects.map((project, index) => ({
    params: { project: project.id },
    props: { project, index, projects },
  }));
}

const { project, index, projects } = Astro.props;
const { title, description, type, images, deploy_url, repo_url, tech_stack } = project.data;
const image_index = 0;

const { Content } = await render(project);
---

<Layout title={title + " | Edward Vonschondorf"} description={description}>
  <article class="relative z-2 container mx-auto my-auto max-w-4xl px-1.5 lg:px-3 xl:px-0">
    <Card>
      <div class="flex items-baseline justify-between">
        <h1 class="mb-3 text-xl font-bold text-stone-100">{title}</h1>
        <span class="text-sm text-stone-500">{type}</span>
      </div>
      <section class="mb-6 flex gap-3">
        <div class="w-2/3">
          <a
            href={`/projects/${project.id}/gallery/${image_index}`}
            class="block aspect-square rounded-t-xl bg-black pt-6 border border-stone-700">
            <Image
              src={images[0]}
              class="size-full object-contain transition-transform duration-300 ease-in-out hover:scale-95"
              alt={`${title} screenshot`}
            />
          </a>
          <div class="grid grid-cols-4 divide-x divide-stone-700 border border-stone-700 rounded-b-xl overflow-clip">
            {
              images.map((_, index) => (
                <a href={`/projects/${project.id}/gallery/${index}`} class="block rounded-xl bg-black">
                  <Image
                    src={images[index]}
                    class="object-contain transition-opacity duration-300 ease-in-out hover:opacity-80"
                    alt={`${title} screenshot`}
                  />
                </a>
              ))
            }
          </div>
        </div>
        <div class="w-1/3 space-y-3">
          <Image src={project.data.banner} alt={project.data.title} class={"rounded-xl border border-stone-700"} />
          <p class="text-stone-300">{project.data.description}</p>
          <ActionButton href={deploy_url} external>{type === "App" ? "Deployment" : "Play"}</ActionButton>
          <ActionButton href={repo_url} external>Repository</ActionButton>
          <ul class="flex flex-wrap gap-3">
            {
              tech_stack.map((tech) => (
                <li class="rounded-xl border px-3 py-1 text-sm font-medium text-stone-500">{tech}</li>
              ))
            }
          </ul>
        </div>
      </section>
      <section class="prose">
        <Content />
      </section>
    </Card>
  </article>
  <ContentNavigator items={projects} currentIndex={index} basePath="projects" contentType="Projects" />
</Layout>
